/.idea/.gitignore
/.idea/low_poly_pics.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/misc.xml
/res_image.jpg
/for_test.py
/два папуга.jpg
/два папуга_шакалы.jpg
